@import "../globals";

.NavBar {
    background: #1F1E1E;
    height: 10%;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-top: 1px solid black;

    a {
        height: 100%;
        display: flex;
        
        img {
            height: 100%;
            align-self: center;
        }
    }

    .BrowseIcon, .LibraryIcon, .SearchIcon, .HomeIcon {
        height: 50%;

        @include mobile {
            height: 37%;
        }
    }
    
    // .libraryIcon {
    //     height: 50%;
    // }

    // .searchIcon {
    //     height: 50%;
    // }

    // .homeIcon {
    //     height: 50%;
    // }
}