@import "../globals";

.filter {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: bottom;
    color: #6E7177;
    margin-bottom: 2%;
    font-size: 1.2em;
    padding-left: 2%;

    img {
        height: 35px;
        margin-right: 20px;
        transition: filter 300ms ease-in-out;
        cursor: pointer;
        align-self: flex-end;

        &:hover {
            filter: brightness(1.75);
        }
    }

    .Form {
        width: 70%;
        height: 100px;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top: -70px;

        input {
            // border-radius: 10px;
            background: #181818;
            border: none;
            border-bottom: 1px solid #6E7177;
            color: white;
            padding-top: 68px;
            align-self: flex-end;
            width: 70%;
            outline: none;
            font-size: 1em;

            &:focus + .LabelSearch .ContentSearch,
            &:valid + .LabelSearch .ContentSearch {
                transform: translateY(-30px);
                font-size: 0.8em;
                color: #9B51E0;
            }

            &:focus + .LabelSearch::after, 
            &:valid + .LabelSearch::after {
                transform: translateX(0%);
            }
        }

        .LabelSearch {
            color: purple;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;

            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 70%;
                border-bottom: 2px solid #9B51E0;
                left: 0px;
                bottom: 0px;
                transform: translateX(-100%);
                transition: transform 300ms ease-in-out;
            }

            .ContentSearch {
                color: #6E7177;
                position: absolute;
                bottom: 2px;
                left: 0px;
                transition: all 300ms ease-in-out;
            }
        }
    }
}