@import "./globals";

.Dropdown {
    background: #333333;
    height: 10%;
    width: 12%;
    position: absolute;
    top: 3.9em;
    right: 0.2em;
    padding: 8px;
    color: #6E7177;
    border-radius: 5px;
    // z-index: 0;
    transition: color, transform 700ms ease-in-out;

    div {
        text-transform: capitalize;
        border-bottom: 1px solid #FFFFFF;
        cursor: pointer;

        &:nth-of-type(1) {
            margin-bottom: 8px;
            margin-top: 8px;
        }

        &:nth-of-type(2) {
            margin-bottom: 8px;
        }

        &:hover {
            color: white;
        }
    }

}

.Open {
    // transform: translateY(0);
    // opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    // z-index: 1;
}

.Closed {
    // transform: translateY(800px);
    // opacity: 0;
    pointer-events: none;
    transform: translateY(-300%);
    // z-index: -10;
}
