@import "./globals";

.mainSection {
    height: 100%;
    flex: 4;
    background: #181818;
    display: flex;
    flex-direction: column;

    .mainBlock {
        padding: 2em;
        display: flex;

        .mainImage {
            height: 250px;
        }

        .infoAndButtons {
            padding: 0 1em;
            display: flex;
            flex-direction: column;

            .info {
                color: #6E7177;
                letter-spacing: 1px;

                p {
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }

                .playlistName {
                    text-transform: capitalize;
                    font-size: 1.5em;
                    color: white;
                    margin-bottom: 10px;
                }

                .playlistNumbers {
                    display: flex;
                    
                    div:last-of-type {
                        margin-left: 1em;
                    }
                }
            }

            .buttons {
                height: 100%;
                display: flex;
                align-items: flex-end;
    
                .play {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    background: #9B51E0;
                    border-radius: 16px;
                    color: white;
                    height: 2.5em;
                    width: 9em;
                    transition: filter 300ms ease-in-out;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(1.2);
                    }
                }

                img {
                    height: 2.5em;
                    margin-left: 1.5em;
                    transition: filter 300ms ease-in-out;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(1.75);
                    }
                }
            }
        }

        .filter {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            color: #6E7177;

            img {
                height: 20px;
                margin-right: 15px;
                transition: filter 300ms ease-in-out;
                cursor: pointer;

                &:hover {
                    filter: brightness(1.75);
                }
            }
        }

        .list {
            color: rgba(255, 255, 255, 0.6);
            display: flex;
            flex-direction: column;

            .infoLabels {
                display: grid;
                width: 100%;
                height: 16px;
                margin-top: 1em;
                text-transform: uppercase;
                border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                grid-template-areas: "num name artist duration";
                grid-template-rows: 10px;
                grid-template-columns: 20% 20% 20% 40%;

                div:nth-child(1) {
                    grid-area: num;
                }
                div:nth-child(2) {
                    grid-area: name;
                }
                div:nth-child(3) {
                    grid-area: artist;
                }
                div:nth-child(4) {
                    grid-area: duration;
                    text-align: end;
                }
            }

            .songs {
                display: flex;
                flex-direction: column;

                .song {
                    display: grid;
                    width: 100%;
                    height: 16px;
                    margin-top: 1em;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                    grid-template-areas: "num name artist duration";
                    grid-template-rows: 10px;
                    grid-template-columns: 20% 20% 20% 40%;
    
                    div:nth-child(1) {
                        grid-area: num;
                    }
                    div:nth-child(2) {
                        grid-area: name;
                    }
                    div:nth-child(3) {
                        grid-area: artist;
                    }
                    div:nth-child(4) {
                        grid-area: duration;
                        text-align: end;
                    }

                    // transition: filter 300ms ease-in-out;
                    transition: color 300ms ease-in-out;
                    cursor: pointer;

                    &:hover {
                        // filter: brightness(1.75);
                        color: white;
                    }
                }
            }



        //     .infoLabels {
        //         display: flex;
        //         margin-top: 3em;
        //         border-bottom: 1px solid rgba(255, 255, 255, 0.8);

        //         p + p {
        //             margin: 0 7em;
        //         }

        //         p:last-child {
        //             margin: 0 0 0 auto;
        //         }
        //     }
        // }

        // .songs {
        //     display: flex;
        //     flex-direction: column;
        //     // margin-top: 1em;
        //     // border-bottom: 1px solid rgba(255, 255, 255, 0.8);

        //    .song {
        //         display: flex;
        //         justify-content: space-between;
        //         margin-top: 1em;
        //         border-bottom: 1px solid rgba(255, 255, 255, 0.8);

        //         // p + p {
        //         //     margin: 0 7em;
        //         // }

        //         p:last-child {
        //             // margin: 0 0 0 auto;
        //             margin-left: 50%;
        //         }
        //    }
        }
    }

    .mainBlock:last-child {
        flex-direction: column;
    }
}

