@import "./globals";
@import "./meyer_reset";

html {
  width: 100%;
  height: 100%;

  body {
    overflow: hidden;

    * {
      font-family: 'Roboto', sans-serif !important;
    }

    width: 100%;
    height: 100%;
  }
}

//--fade animations--//

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}